 <body class="background">
  

<div class="main">
  <h1 class="header">Airport Weather App</h1>
  <div class="nav">
    <ul class="nav ul">
      <li class="nav li"><a routerLink="/weather" class="nav a" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a></li>
      <li class="nav li"><a routerLink="/metar" class="nav a" routerLinkActive="active" ariaCurrentWhenActive="page">METAR</a></li>
      <li class="nav li"><a routerLink="/taf" class="nav a" routerLinkActive="active" ariaCurrentWhenActive="page">TAF</a></li>
      <li class="nav li"><a routerLink="/full" class="nav a" routerLinkActive="active" ariaCurrentWhenActive="page">FULL</a></li>
    </ul>

  </div>
<div>
  <h2>Please Select Your Data Type</h2>
</div>
</div>

</body>