<body class="background">
  

  <div class="main">
    <h1 class="header">Airport Weather App</h1>
    <div class="nav">
      <ul class="nav ul">
        <li class="nav li"><a routerLink="/weather" class="nav a" routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a></li>
        <li class="nav li"><a routerLink="/metar" class="nav a" routerLinkActive="active" ariaCurrentWhenActive="page">METAR</a></li>
        <li class="nav li"><a routerLink="/taf" class="nav a" routerLinkActive="active" ariaCurrentWhenActive="page">TAF</a></li>
        <li class="nav li"><a routerLink="/full" class="nav a" routerLinkActive="active" ariaCurrentWhenActive="page">FULL</a></li>
      </ul>
    </div>
    <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
  
    <div *ngIf="!loading">
      <div class="inputForm">
          <form class="input" [formGroup]="loginForm"  (ngSubmit)="getWeatherData()">
            <input type="text" placeholder="Enter ICAO Code"  formControlName="ICAO" class="form-control" />
          </form>
          <button type="submit" class="button" (click)="getWeatherData()"> Get the Full Data </button>
        </div>
      
            
            <ul *ngIf="weatherDataMetar" class="output">
              <li>
               Current Metar Data: <br><br>
            </li>
              <li>
                Date:  {{weatherDataMetar.timestamp | date: 'mediumDate'}}
            </li>
              <li>
                  Time:  {{weatherDataMetar.timestamp | date: 'mediumTime'}}
              </li>
              <li>
                   Wind: {{weatherDataMetar.wind.from}}° at {{weatherDataMetar.wind.speedKts}}kts
              </li>
              <li>
                   Dewpoint: {{weatherDataMetar.dewpoint}}°
              </li>
              <li>
                   Humidity: {{weatherDataMetar.humidity}}%
              </li>
              <li>
                   Density Altitude: {{weatherDataMetar.densityAltitude}}' <br><br>
              </li>
              <li  *ngFor= "let forcast of conditionsArray" >
                <span>   Forecast: <br><br> </span>
                <span>   Time Issued:  {{forcast.dateIssued | date: 'mediumTime'}} <br> </span>
              
                <span>  Wind: {{forcast.wind.from}}° at {{forcast.wind.speedKts}}kts <br> </span>
                
                <span>    Distance Qualifier: {{forcast.visibility.distanceQualifier}}<br> </span>

                <span>    Distance Sm: {{forcast.visibility.distanceSm}}<br> </span>

                <span>    PV Distance Qualifier: {{forcast.visibility.prevailingVisDistanceQualifier}}<br><br> </span>
            </li>
            </ul>
    <div *ngIf="weatherHistory" class="outputFrame">
      <h1 class="header">Airport Weather History:</h1>
      <div class="outputFrame" *ngFor= "let _weatherData of weatherHistory">
        <button class="button"  (click)="changeWeatherData(_weatherData)">{{_weatherData.ICAO}}</button>
      </div>
    </div>
    </div>
  </div>
    <router-outlet></router-outlet>
  
  </body>